<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2>スケジュールを登録できませんでした</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>





<p class="center_p">スケジュール新規作成</p>

<table>  
  <tr>
    <th><div class="field">
      <%= form.label :タイトル %></th>
    <td><%= form.text_area :title %></div></td>
  </tr>

  <tr>
    <th><div class="field">
      <%= form.label :開始日 %></th>
    <td><%= form.date_field :start %></div></td>
  </tr>    
  
  <tr>
    <th><div class="field">
      <%= form.label :終了日 %></th>
    <td><%= form.date_field :finish %></div></td>
  <tr>
    <th><div class="field">
      <%= form.label :終日 %></th>
    <td><%= form.check_box :allday, {},"●","" %>
      終日の場合はチェックを入れます</div></td>
  <tr>
    <th><div class="field">
      <%= form.label :スケジュールメモ %></th>
    <td><%= form.text_area :content %></div></td>
  </tr>
</table>

<div class="center_d">
  <%= form.submit :スケジュールを登録する %>
  </div>
<% end %>
